<a routerLink="/admin-panel" class="nav-link">Назад к списку</a> 
<div *ngIf="loaded">
    <h2>Изменение данных о пользователе</h2>
    <user-form [(user)]="user"></user-form>
    <div class="form-group">
        <input type="button" value="Сохранить" (click)="save()" class="btn btn-success" />
    </div>
    <h1>Пройденные тесты</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <td>Тест</td>
                <td>Бал</td>
                <td>Время</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let u of userTests">
                <td>{{u?.test}}</td>
                <td>{{u?.mark}}</td>
                <td>{{u?.time.substring(14)}}</td>
            </tr>
        </tbody>
    </table>
</div>
