<div class="container">
    <div class="col-lg-6 floating">
        <h1>Список тестов</h1>
        <input type="text" class="form-control" placeholder="Название теста" [(ngModel)]="title" (ngModelChange)="loadTestsByTitle()">
        <table class="table mtable">
            <thead>
                <tr>
                    <td>Тест</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let t of tests">
                    <td><a routerLink="/test/{{t.testId}}" class="nav-link tlink">{{t?.title}}</a></td>
                </tr>
            </tbody>
        </table>
        <div class="text-center">
            <button class="btn btn-sm btn-info mx-3" (click)="previousPage()"><</button>
            <button class="btn btn-sm btn-info" (click)="nextPage()">></button>
        </div>
    </div>
    <div class="col-lg-6 floating">
        <h1>Топ 10 результатов</h1>
        <table class="table mtable">
            <thead>
                <tr>
                    <td>№</td>
                    <td>Пользователь</td>
                    <td>Тест</td>
                    <td>Результат</td>
                    <td>Время</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let u of userTests; let i = index">
                    <td>{{i+1}}</td>
                    <td><a routerLink="/account/{{u.userId}}">{{u?.Username}}</a></td>
                    <td><a routerLink="/test/{{u.TestId}}">{{u?.Test}}</a></td>
                    <td>{{u?.Mark}}%</td>
                    <td>{{u?.Time.substring(14)}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>