<div class="container">
    <div class="col-lg-6 floating">
        <h1>Список тестов</h1>
        <table class="table mtable">
            <thead>
                <tr>
                    <td>Тест</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let t of tests">
                    <td><a routerLink="/test/{{t.testId}}" class="nav-link tlink">{{t?.title}}</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-lg-6 floating">
        <h1>Результаты пользователей</h1>
        <table class="table mtable">
            <thead>
                <tr>
                    <td>Пользователь</td>
                    <td>Тест</td>
                    <td>Бал</td>
                    <td>Время</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let u of userTests">
                    <td>{{u?.username}}</td>
                    <td>{{u?.test}}</td>
                    <td>{{u?.mark}}</td>
                    <td>{{u?.time.substring(14)}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>