<div *ngIf="loaded">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-6 pb-5">
                <h2 class="text-center">Изменение данных о результате теста пользователе</h2>
                <user-test-form-mt [(userTest)]="userTest"></user-test-form-mt>
                <div class="form-group text-center">
                    <input type="button" value="Сохранить" (click)="save()" class="btn btn-success" [disabled]="!userTestFormMT.userTestModel.valid"/>
                </div>
            </div>
        </div>
        <table class="table mtable">
            <thead>
                <tr>
                    <td>Пользователь</td>
                    <td>Тест</td>
                    <td>Результат</td>
                    <td>Время</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{userTest?.username}}</td>
                    <td>{{userTest?.test}}</td>
                    <td>{{userTest?.mark}}%</td>
                    <td>{{userTest?.time.substring(14)}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
