<div *ngIf="loaded">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-6 pb-5">
                <h2>Изменение данных о тесте</h2>
                <test-form [(test)]="test"></test-form>
                <div class="form-group">
                    <input type="button" value="Сохранить" (click)="save()" class="btn btn-success" />
                </div>
            </div>
        </div>
        <h1>Тест</h1>
        <table class="table mtable">
            <thead>
                <tr>
                    <td>Тест</td>
                    <td>Описание</td>
                    <td>Бал</td>
                    <td>Время</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{test?.title}}</td>
                    <td>{{test?.description}}</td>
                    <td>{{test?.maxScore}}</td>
                    <td>{{test?.maxTime.substring(14)}}</td>
                </tr>
            </tbody>
        </table>
        <div *ngIf="!showAddQuestion">
            <button class="btn btn-primary" (click)="addQuestion()">Добавить вопрос</button>
        </div>
        <div *ngIf="showAddQuestion">
            <span>Несколько правильных ответов?</span><input type="checkbox" id="isMultiple"/>
            <input type="text" id="content" placeholder="Текст вопроса">
            <input type="text" id="answersCount" placeholder="Количество ответов">
            <div class="form-group">
                <input type="button" value="Далее" (click)="next()" class="btn btn-success"/>
            </div>
            <div *ngIf="showFillQuestion">
                <p><b>{{newQuestion.content}}</b></p>
                <div *ngFor="let s of answersCount; let i = index;">
                    <div *ngIf="newQuestion.isSingle; else isMultiple">
                        <p>
                            <span>Правильный?</span><input type="radio" id="a_isCorrect_{{i}}" name="a_isCorrect"/>
                            <input type="text" placeholder="Контент" id="a_content_{{i}}" name="a_content"/> 
                            <input type="text" placeholder="Бал" id="a_mark_{{i}}" name="a_mark"/>
                        </p>
                    </div>
                    <ng-template #isMultiple>
                        <p>
                            <span>Правильный?</span><input type="checkbox" id="a_isCorrect_{{i}}" name="a_isCorrect"/>
                            <input type="text" placeholder="Контент" id="a_content_{{i}}" name="a_content"/> 
                            <input type="text" placeholder="Бал" id="a_mark_{{i}}" name="a_mark"/>
                        </p>
                    </ng-template>
                </div>
                <div *ngIf="!end">
                    <button class="btn btn-success" style="margin-bottom: 20px; margin-left: 10px;" type="submit" (click)="onSubmit()">Создать</button>
                </div>
            </div>
        </div>
        <div *ngIf="!showAddQuestion"> 
            <div *ngFor="let item of testInfo | keyvalue; let i = index">
                <form name="form_{{i}}">
                    <p><b>{{i+1}}. {{item.key.content}}</b></p> 
                    <a class="btn btn-sm btn-primary" style="margin-right: 5px;">Изменить</a>
                    <button (click)="deleteQuestion(item.key.questionId)" class="btn btn-sm btn-danger">Удалить</button>
                    <div *ngFor="let s of item.value">
                        <div *ngIf="item.key.isSingle; else isMultiple">
                            <p>
                                <input type="radio" name="answer" id="{{s.answerId}}" />
                                <i id="check_{{s.answerId}}">{{s.content}}</i>
                                <a class="btn btn-sm btn-primary" style="margin-right: 5px;">Изменить</a>
                                <button (click)="deleteAnswer(s.answerId)" class="btn btn-sm btn-danger">Удалить</button>
                            </p>
                        </div>
                        <ng-template #isMultiple>
                            <p>
                                <input type="checkbox" name="answer" id="{{s.answerId}}" />
                                <i id="check_{{s.answerId}}">{{s.content}}</i>
                                <a class="btn btn-sm btn-primary" style="margin-right: 5px;">Изменить</a>
                                <button (click)="deleteAnswer(s.answerId)" class="btn btn-sm btn-danger">Удалить</button>
                            </p>
                        </ng-template>
                    </div>
                </form>
                <br />
            </div>
        </div>
    </div>
</div>