<div class="container">
    <h1 style="text-align: center">Список пользователей</h1>
    <div class="text-center">
        <button class="btn btn-sm btn-info mx-3" (click)="previousPage()"><</button>
        <button class="btn btn-sm btn-info" (click)="nextPage()">></button>
    </div>
    <table class="table mtable">
        <thead>
            <tr>
                <td>Почта</td>
                <td>Имя пользователя</td>
                <td>Операции</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let u of users">
                <td>{{u?.email}}</td>
                <td>{{u?.userName}}</td>
                <td>
                    <a routerLink="/admin-panel/user-edit/{{u.id}}" class="btn btn-sm btn-primary" style="margin-right: 5px;">Изменить</a>
                    <button (click)="delete(u.id)" class="btn btn-sm btn-danger">Удалить</button>
                </td>
            </tr>
        </tbody>
    </table> 
</div>