 <div class="container">
    <h2 style="text-align: center; margin: 10px;">Личный кабинет</h2>
    <div class="row  d-flex justify-content-center">
        <div class="col-6" *ngIf="userDetails">
            <div class="d-flex justify-content-center align-items-center" style="border: 3px solid grey; border-radius: 10px;">
                <div class="col-4">
                    <img src="{{userDetails.profileImageUrl}}" class="img-thumbnail">
                </div>
                <div class="card-body col-6">
                    <ul class="list-group">
                        <li class="list-group-item"><strong>Имя пользователя: </strong>{{userDetails.userName}}</li>
                        <li class="list-group-item" *ngIf="!userId"><strong>Почта: </strong>{{userDetails.email}}</li>
                        <li class="list-group-item"><strong>О себе: </strong>{{userDetails.aboutMe}}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-12 d-flex justify-content-center" *ngIf="!userId">
            <button class="btn btn-info place m-3" (click)="showChangePassword()" data-toggle="modal" data-target="#modalchangepass">Изменить пароль</button>
            <button class="btn btn-info place m-3" (click)="showChangeEmail()" data-toggle="modal" data-target="#modachangeemail">Изменить Email</button>
            <button class="btn btn-info place m-3" (click)="showChangeUsername()" data-toggle="modal" data-target="#modachangename">Изменить имя пользователя</button>
            <button class="btn btn-info place m-3" data-toggle="modal" data-target="#modachangeprofileimage">Изменить аватар</button>
            <button class="btn btn-info place m-3" data-toggle="modal" data-target="#modachangeaboutme">Изменить 'О себе'</button>
        </div>
        <div class="col-12">
            <h3 style="text-align: center;">Пройденные тесты</h3>
            <table class="table mtable m-3" style="height: auto;">
                <thead>
                    <tr>
                        <td>Тест</td>
                        <td>Результат</td>
                        <td>Время</td>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let u of userTests">
                        <td>{{u?.test}}</td>
                        <td>{{u?.mark}}%</td>
                        <td>{{u?.time.substring(14)}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    
    <div class="modal fade" id="modachangeemail" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Изменение электронной почты</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="userService.newEmailModel" autocomplete="off" (submit)="changeEmail()">
                    <div class="form-group required">
                        <label>Новый Email</label>
                        <input class="form-control" formControlName="UserEmail">
                        <label class="text-danger" *ngIf="userService.newEmailModel.get('UserEmail').touched && userService.newEmailModel.get('UserEmail').errors?.required">
                          Это поле обязательно.
                        </label>
                        <label class="text-danger" *ngIf="userService.newEmailModel.get('UserEmail').touched && userService.newEmailModel.get('UserEmail').errors?.email">
                            Почта введена неверно.
                        </label>
                    </div>
                    <div class="form-row  text-center">
                        <div class="form-group col-12">
                          <button type="submit" class="btn btn-lg btn-success" [disabled]="!userService.newEmailModel.valid">Изменить</button>
                        </div>
                    </div>
                </form>
            </div>
          </div>
        </div>
    </div>

    <div class="modal fade" id="modachangename" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"  aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Изменение имени пользователя</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="userService.usernameModel" autocomplete="off" (submit)="changeUsername()">
                    <div class="form-group required">
                        <label>Новое имя пользователя</label>
                        <input class="form-control" formControlName="NewUsername">
                        <label class="text-danger" *ngIf="userService.usernameModel.get('NewUsername').touched && userService.usernameModel.get('NewUsername').errors?.required">
                          Это поле обязательно.
                        </label>
                    </div>
                    <div class="form-row text-center">
                        <div class="form-group col-12">
                          <button type="submit" class="btn btn-lg btn-success" [disabled]="!userService.usernameModel.valid">Изменить</button>
                        </div>
                    </div>
                </form>
            </div>
          </div>
        </div>
    </div>

    <div class="modal fade" id="modachangeprofileimage" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Изменение аватара</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group required">
                    <label>Ссылка на новый аватар</label>
                    <input class="form-control" id="profileImageUrl">
                </div>
                <div class="form-row text-center">
                    <div class="form-group col-12">
                      <button type="submit" class="btn btn-lg btn-success" (click)="changeProfileImage()">Изменить</button>
                    </div>
                </div>
            </div>
          </div>
        </div>
    </div>

    <div class="modal fade" id="modachangeaboutme" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Изменение 'О себе'</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group required">
                    <label>О себе</label>
                    <input class="form-control" id="aboutMe">
                </div>
                <div class="form-row text-center">
                    <div class="form-group col-12">
                      <button type="submit" class="btn btn-lg btn-success" (click)="changeAboutMe()">Изменить</button>
                    </div>
                </div>
            </div>
          </div>
        </div>
    </div>

    <div class="modal fade" id="modalchangepass" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Изменение пароля</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="userService.passwordModel" autocomplete="off" (submit)="changePassword()">
                    <div formGroupName="Passwords">
                        <div class="form-group required">
                            <label>Старый пароль</label><br>
                            <div class="password">
                                <input type="password" id="old-password" class="form-control" formControlName="OldPassword">
                                <a href="#" id="old-passeye" class="password-control" (click)="show_hide_password(pas1)"></a>
                            </div>
                            <label class="text-danger" *ngIf="userService.passwordModel.get('Passwords.OldPassword').touched && userService.passwordModel.get('Passwords.OldPassword').errors?.required">
                              Это поле обязательно.
                            </label>
                        </div>
                        <div class="form-group required">
                            <label>Новый пароль</label><br>
                            <div class="password">
                                <input type="password" id="new-password" class="form-control" formControlName="Password">
                                <a href="#" id="new-passeye" class="password-control" (click)="show_hide_password(pas2)"></a>
                            </div>                    
                            <label class="text-danger" *ngIf="userService.passwordModel.get('Passwords.Password').touched && userService.passwordModel.get('Passwords.Password').errors?.required">
                                Это поле обязательно.
                            </label>
                            <label class="text-danger" *ngIf="userService.passwordModel.get('Passwords.Password').touched && userService.passwordModel.get('Passwords.Password').errors?.minlength">
                                Пароль должен состоять минимум из 6 символов.
                            </label>
                        </div>
                        <div class="form-group required">
                            <label>Подтвердите пароль</label><br>
                            <div class="password">
                                <input type="password" id="conf-password" class="form-control" formControlName="ConfirmPassword">
                                <a href="#" id="conf-passeye" class="password-control" (click)="show_hide_password(pas3)"></a>
                            </div>
                            <label class="text-danger" *ngIf="userService.passwordModel.get('Passwords.ConfirmPassword').touched && userService.passwordModel.get('Passwords.ConfirmPassword').errors?.required">
                              Это поле обязательно.
                            </label>
                            <label class="text-danger" *ngIf="userService.passwordModel.get('Passwords.ConfirmPassword').touched && userService.passwordModel.get('Passwords.ConfirmPassword').errors?.passwordMismatch">
                              Пароли не совпадают.
                            </label>
                        </div>
                    </div>
                    <div class="form-row text-center">
                        <div class="form-group col-12">
                          <button type="submit" class="btn btn-lg btn-success" [disabled]="!userService.passwordModel.valid">Изменить</button>
                        </div>
                    </div>
                </form>
            </div>
          </div>
        </div>
    </div>
</div>