<div *ngIf="loaded">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-6 pb-5">
                <h2>Изменение данных о пользователе</h2>
                <user-form [(user)]="user"></user-form>
                <div class="form-group text-center" >
                    <input type="button" value="Сохранить" (click)="saveUser()" [disabled]="!userForm.emailModel.valid" class="btn btn-success" />
                </div>
            </div>
        </div>
        <div class="text-center">
            <input type="button" value="Назначить администратором" (click)="makeUserAdmin()" class="btn btn-info"/>
            <input type="button" value="Назначить клиентом" (click)="makeUserCustomer()" class="btn btn-info"/>
        </div>
        <br><br>
        <h1 class="text-center">Пройденные тесты</h1>
        <table class="table mtable">
            <thead>
                <tr>
                    <td>Тест</td>
                    <td>Результат</td>
                    <td>Время</td>
                    <td>Операции</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let u of userTests">
                    <td>{{u?.test}}</td>
                    <td>{{u?.mark}}%</td>
                    <td>{{u?.time.substring(14)}}</td>
                    <td>
                        <a routerLink="/admin-panel/user-test-edit/{{u.id}}" class="btn btn-sm btn-primary" style="margin-right: 5px;">Изменить</a>
                        <button (click)="deleteTestResult(u.id)" class="btn btn-sm btn-danger">Удалить</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
