<div *ngIf="loaded">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-8 col-lg-6 pb-5">
                <h2>Изменение данных о пользователе</h2>
                <user-form [(user)]="user"></user-form>
                <div class="form-group">
                    <input type="button" value="Сохранить" (click)="save()" class="btn btn-success" />
                </div>
            </div>
        </div>
        <h1>Пройденные тесты</h1>
        <table class="table mtable">
            <thead>
                <tr>
                    <td>Тест</td>
                    <td>Бал</td>
                    <td>Время</td>
                    <td>Операции</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let u of userTests">
                    <td>{{u?.test}}</td>
                    <td>{{u?.mark}}</td>
                    <td>{{u?.time.substring(14)}}</td>
                    <td>
                        <a class="btn btn-sm btn-primary" style="margin-right: 5px;">Изменить</a>
                        <button (click)="deleteTestResult(u.id)" class="btn btn-sm btn-danger">Удалить</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
