<form [formGroup]="userTestModel" autocomplete="off">
    <div class="form-group">
        <div class="input-group mb-2">
            <div class="input-group-prepend">
                <div class="input-group-text"><i class="fa fa-user text-info"></i></div>
            </div>
            <input type="text" formControlName="Mark" class="form-control" [(ngModel)]="userTest.Mark" placeholder="50">
            <label class="text-danger" *ngIf="userTestModel.get('Mark').touched && userTestModel.get('Mark').errors?.markRange">
                Бал введен неверно.
            </label>
        </div>
    </div>
    <div class="form-group">
        <div class="input-group mb-2">
            <div class="input-group-prepend">
                <div class="input-group-text"><i class="fa fa-envelope text-info"></i></div>
            </div>
            <input type="text" formControlName="Time" class="form-control" [(ngModel)]="userTest.Time" placeholder="03:00">
            <label class="text-danger" *ngIf="userTestModel.get('Time').touched && userTestModel.get('Time').errors?.pattern">
                Время введено неверно.
            </label>
        </div>
    </div>
</form>
