    <div class="container">
        <div class="row justify-content-center" *ngIf="!testCreated">
            <div class="col-12 col-md-8 col-lg-6 pb-5">
                <h2>Информация по тесту</h2>
                <test-form [(test)]="test"></test-form>
                <div class="form-group">
                    <input type="button" value="Создать" (click)="create()" class="btn btn-success" [disabled]="!testService.testModel.valid"/>
                </div>
            </div>
        </div> 
        <div *ngIf = "testCreated">
            <div *ngFor = "let i of questions">
                <form [formGroup]="questionService.questionModel" autocomplete="off">
                    <span>{{i+1}}. </span>
                    <span>Несколько правильных ответов?</span><input type="checkbox" id="t_{{i+1}}"/>
                    <input type="text" formControlName="Content" id="q_{{i+1}}" placeholder="Текст вопроса">
                    <label class="text-danger" *ngIf="questionService.questionModel.get('Content').touched && questionService.questionModel.get('Content').errors?.required">
                        Это поле обязательно.
                    </label>
                    <input type="text" formControlName="AnswersCount" id="a_{{i+1}}" placeholder="Количество ответов">
                    <label class="text-danger" *ngIf="questionService.questionModel.get('AnswersCount').touched && questionService.questionModel.get('AnswersCount').errors?.answerCountRange">
                        Количество вопросов введено неверно.
                    </label>
                    <label class="text-danger" *ngIf="questionService.questionModel.get('AnswersCount').touched && questionService.questionModel.get('AnswersCount').errors?.required">
                        Это поле обязательно.
                    </label>
                </form>
                <br>
            </div>
            <div *ngIf="hideQuestions">
                <div class="form-group">
                    <input type="button" value="Далее" (click)="next()" [disabled]="!questionService.questionModel.valid" class="btn btn-success"/>
                </div>
            </div>
        </div>
        <div *ngIf = "questionsCreated">
            <div *ngFor="let item of sas | keyvalue; let i = index">
                <form name="form_{{i}}">
                    <p><b>{{i+1}}. {{item.key.content}}</b></p>
                    <div *ngFor="let s of item.value; let j = index;">
                        <form [formGroup]="answerService.answerModel" autocomplete="off">
                            <span>Правильный?</span>
                            <div *ngIf="item.key.isSingle; else isMultiple">
                                <input type="radio" id="a_isCorrect_{{i}}:{{j}}" name="a_isCorrect"/>
                            </div>
                            <ng-template #isMultiple>
                                <input type="checkbox" id="a_isCorrect_{{i}}:{{j}}" name="a_isCorrect"/>
                            </ng-template>
                            <input type="text" formControlName="Content" placeholder="Контент" id="a_content_{{i}}:{{j}}" name="a_content"/> 
                            <label class="text-danger" *ngIf="answerService.answerModel.get('Content').touched && answerService.answerModel.get('Content').errors?.required">
                                Это поле обязательно.
                            </label>
                            <input type="text" formControlName="Mark" placeholder="Бал" id="a_mark_{{i}}:{{j}}" name="a_mark"/>
                            <label class="text-danger" *ngIf="answerService.answerModel.get('Mark').touched && answerService.answerModel.get('Mark').errors?.markRange">
                                Количество вопросов введено неверно.
                            </label>
                            <label class="text-danger" *ngIf="answerService.answerModel.get('Mark').touched && answerService.answerModel.get('Mark').errors?.required">
                                Это поле обязательно.
                            </label>
                        </form>
                    </div>
                </form>
                <br />
            </div>
            <div *ngIf="!end">
                <button class="btn btn-success" style="margin-bottom: 20px; margin-left: 10px;" type="submit" [disabled]="!answerService.answerModel.valid" (click)="onSubmit()">Создать</button>
            </div>
        </div>
    </div>
