<div class="form-group">
    <div class="input-group mb-2">
        <div class="input-group-prepend">
            <div class="input-group-text"><i class="fa fa-user text-info"></i></div>
        </div>
        <input type="text" class="form-control" [(ngModel)]="userTest.UserId" placeholder="UserId">
    </div>
</div>
<div class="form-group">
    <div class="input-group mb-2">
        <div class="input-group-prepend">
            <div class="input-group-text"><i class="fa fa-envelope text-info"></i></div>
        </div>
        <input type="text" class="form-control" [(ngModel)]="userTest.TestId" placeholder="TestId">
    </div>
</div>