<h1>Список тестов</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <td>Тест</td>
            <td>Описание</td>
            <td>Бал</td>
            <td>Время</td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let t of tests">
            <td><a [routerLink]="['teststart', t.testId]" class="nav-link">{{t?.title}}</a></td>
            <td>{{t?.description}}</td>
            <td>{{t?.maxScore}}</td>
            <td>{{t?.maxTime.substring(14)}}</td>
        </tr>
    </tbody>
</table>
<br />
<p><a routerLink="/login" class="nav-link">Войти</a></p>
<br />
<p><a routerLink="/registration" class="nav-link">Зарегистрироваться</a></p>
<br />
<button (click)="logout()" >Выйти</button>