<div class="container">
    <button routerLink= "/admin-panel/user-test-create" class="btn btn-sm btn-primary">Добавить результат</button>
    <h1 style="text-align: center">Список результатов пользователей</h1>
    <div class="text-center">
        <button class="btn btn-sm btn-info mx-3" (click)="previousPage()"><</button>
        <button class="btn btn-sm btn-info" (click)="nextPage()">></button>
    </div>
    <table class="table mtable"> 
        <thead>
            <tr>
                <td>Пользователь</td>
                <td>Тест</td>
                <td>Результат</td>
                <td>Время</td>
                <td>Операции</td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let u of userTests">
                <td>{{u?.username}}</td>
                <td>{{u?.test}}</td>
                <td>{{u?.mark}}%</td>
                <td>{{u?.time.substring(14)}}</td>
                <td>
                    <a routerLink="/admin-panel/user-test-edit/{{u.userTestId}}" class="btn btn-sm btn-primary" style="margin-right: 5px;">Изменить</a>
                    <button (click)="deleteUserTest(u.userTestId)" class="btn btn-sm btn-danger">Удалить</button>
                </td>
            </tr>
        </tbody>
    </table> 
</div>