<div class="mx-4 my-2 py-4 conf" style="text-align: center;">
    <div *ngIf="!forNewEmail">
        <div *ngIf="!emailConfirmed">
            <p>Email не был подтвержден, проверьте Вашу почту.</p>
        </div>
        <div *ngIf="emailConfirmed">
            <p>Email был успешно подтвержден, войдите в свой аккаунт, для доступа к функционалу сайта.</p>
        </div>
    </div>
    <div *ngIf="forNewEmail">
        <div *ngIf="!newEmailConfirmed">
            <p>Email не был изменен, проверьте Вашу почту.</p>
        </div>
        <div *ngIf="newEmailConfirmed">
            <p>Email был успешно изменен, войдите в свой аккаунт, для доступа к функционалу сайта.</p>
        </div>
    </div>
</div>
