body{
    background-image: url(https://bayguzin.ru/demo2014/patterns3/bg1.jpg);
    background-size: initial;
    background-repeat: repeat;
}

 .place{
    margin-right: 10px;
}

table.mtable {
    font-family: "Times New Roman", Times, serif;
/*  border: 2px solid #000000;*/
    background-color: #EEEEEE;
    width: 100%;
    height: 100%;
    text-align: center;
    border-collapse: collapse;
  }
  table.mtable td, table.mtable th {
    border: 1px solid #FFFFFF;
    padding: 8px 10px;
  }
  table.mtable tbody td {
    font-size: 16px;
  }
  table.mtable tr:nth-child(even) {
    background: #D0E4F5;
  }
  table.mtable thead {
    background: #0D88C9;
    border-bottom: 5px solid #FFFFFF;
    color: #FFFFFF;
  }
  table.mtable thead th {
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    border-left: 1px solid #FFFFFF;
  }
  table.mtable thead th:first-child {
    border-left: none;
  }
  
  table.mtable tfoot td {
    font-size: 14px;
  }

  .floating{
      float: left;
  }